body {
  font-family: "Lato", sans-serif;
  margin: 0 5rem 0 5rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.researchBar {
  width: 100%;
  display: flex;

  &-input {
    width: 100%;
    height: 69px;
    background: #e7e7e7;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    padding-left: 1rem;
  }
  &-submit {
    height: 69px;
    background: none;
    border: none;
    padding-right: 1rem;
    font-size: 25px;
    background: #e7e7e7;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
}
.researchFields {
  display: flex;
  margin-top: 1rem;
  color: white;
  font-size: 18px;

  &-form {
    display: flex;
    justify-content: space-between;
    height: 69px;
    margin-right: 1rem;
    border-radius: 5px 5px 5px 5px;

    &-label {
      display: flex;
    }

    &-input {
      background: inherit;
      color: inherit;
      border: none;
      padding-left: 1rem;
      border-radius: 5px 0 0 5px;
      outline-width: 0;
      font-size: inherit;
    }
    &-btn {
      color: inherit;
      background: inherit;
      border: none;
      padding: 0 1rem;
      border-radius: 0 5px 5px 0;
      font-size: inherit;
      cursor: pointer;
    }
  }
}

.ingredient-list {
  position: absolute;
  background-color: inherit;
  top: 48px;
  left: 0;
  width: 667px;
  display: none;
  flex-wrap: wrap;
  border-radius: 0 5px 5px 5px;
  padding: 1rem;
}

.appareil-list {
  position: absolute;
  background-color: inherit;
  top: 48px;
  left: 0;
  width: 667px;
  display: none;
  flex-wrap: wrap;
  border-radius: 0 5px 5px 5px;
  padding: 1rem;
}

.ustensiles-list {
  position: absolute;
  background-color: inherit;
  top: 48px;
  left: 0;
  width: 667px;
  display: none;
  flex-wrap: wrap;
  border-radius: 0 5px 5px 5px;
  padding: 1rem;
}

.ingredient-list li,
.appareil-list li,
.ustensiles-list li {
  min-width: 33.3%;
  list-style: none;
  margin-bottom: 1rem;
}

.ingredient-form {
  background: #3282f7;
  position: relative;
}
.appareil-form {
  background: #68d9a4;
  position: relative;
}

.ustensiles-form {
  background: #ed6454;
  position: relative;
}

.researchFields-form-input::placeholder {
  color: white;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe {
  display: flex;
  width: 380px;
  height: 364px;
  flex-direction: column;
  padding: 2rem 0;
  &-imgContainer {
    min-height: 178px;
    width: 100%;
    background-color: #c7bebe;
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &-textContainer {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
    background-color: #e7e7e7;

    &-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 1rem;
      &-title {
        margin: 0;
        font-size: 18px;
        font-weight: normal;
      }
      &-time {
        font-weight: bold;
        font-size: 18px;
      }
    }
    &-description {
      display: flex;
      &-ingredients {
        min-width: 50%;
        &-item {
          white-space: nowrap;
          font-size: 12px;
          font-weight: bold;
        }
      }
      &-prep {
        height: 109px;
        min-width: 50%;
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-size: 12px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.open {
  display: flex;
}

.list {
  z-index: 100;
}

.rotate {
  transform: rotateX(180deg);
  transition: 0.3s ease-in-out;
}
