body {
  font-family: "Lato", sans-serif;
  margin: 0 5rem 0 5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.researchBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.researchBar-input {
  width: 100%;
  height: 69px;
  background: #e7e7e7;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  padding-left: 1rem;
}

.researchBar-submit {
  height: 69px;
  background: none;
  border: none;
  padding-right: 1rem;
  font-size: 25px;
  background: #e7e7e7;
  border-radius: 0 5px 5px 0;
}

.researchFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  color: white;
  font-size: 18px;
}

.researchFields-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 69px;
  margin-right: 1rem;
  border-radius: 5px 5px 5px 5px;
}

.researchFields-form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.researchFields-form-input {
  background: inherit;
  color: inherit;
  border: none;
  padding-left: 1rem;
  border-radius: 5px 0 0 5px;
  outline-width: 0;
  font-size: inherit;
}

.researchFields-form-btn {
  color: inherit;
  background: inherit;
  border: none;
  padding: 0 1rem;
  border-radius: 0 5px 5px 0;
  font-size: inherit;
}

.ingredient-form {
  background: #3282f7;
}

.appareil-form {
  background: #68d9a4;
}

.ustensiles-form {
  background: #ed6454;
}

.researchFields-form-input::-webkit-input-placeholder {
  color: white;
}

.researchFields-form-input:-ms-input-placeholder {
  color: white;
}

.researchFields-form-input::-ms-input-placeholder {
  color: white;
}

.researchFields-form-input::placeholder {
  color: white;
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  height: 364px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

.recipe-imgContainer {
  min-height: 178px;
  width: 100%;
  background-color: #c7bebe;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

.recipe-textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem;
  background-color: #e7e7e7;
}

.recipe-textContainer-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.recipe-textContainer-heading-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.recipe-textContainer-heading-time {
  font-weight: bold;
  font-size: 18px;
}

.recipe-textContainer-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe-textContainer-description-ingredients {
  min-width: 50%;
}

.recipe-textContainer-description-ingredients-item {
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
}

.recipe-textContainer-description-prep {
  height: 109px;
  min-width: 50%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
/*# sourceMappingURL=main.css.map */